html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #faf5e1;
  color: #432000;
  user-select: none;
  height: 100vh;
  
}


.sign-in-page {
    background-color: #60b3c1;
  text-align: center;
      display: flex;
      flex-direction: column;
      max-width: 350px;
      margin-top: 0;
      margin-right:auto;
      margin-left: auto;
      height: 100vh;
      position: relative;
      border-radius: 10px;
  }

  


  .container {
    text-align: center; /* Center-align the content */
    background-color:  #faf5e1; /* Background color for the container */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
    justify-content: center;
    height: 100%;
    
    }

  .logoSignIn {
  width: 100%;
  border-radius :10%;
  position: absolute;
  bottom : 13%;
  left: 50%; /* Optionally, center the image horizontally */
  transform: translateX(-50%);
 }
 .cryptoStocksLogo {
  width: 100%;
  border-radius :10%;
  position: absolute;
  bottom : 18%;
  left: 50%; /* Optionally, center the image horizontally */
  transform: translateX(-50%);
 }

  .logoBlue {
    width: 100%;
    border-radius :10%;
    position: absolute;
    bottom: 0%;
    left: 50%; /* Optionally, center the image horizontally */
    transform: translateX(-50%);
  }

 
  .firstTitle {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Tintin', sans-serif; 
  }

  .bottomTitle {
    font-family: 'Tintin', sans-serif; 
    position: absolute;
    bottom : 10%;
    left: 50%; /* Optionally, center the image horizontally */
    transform: translateX(-50%);
    font-size: 25px;
  }

  .home-page {
    background-color:  #faf5e1; 
    text-align: center;
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 350px;
      margin-top: 0;
      margin-right:auto;
      margin-left: auto;
  }
  .secondTitle {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Tintin', sans-serif; 
    color: white;
  }



 .logo {
  width: 100%;
  border-radius :10%;
 }

 

  .googleImage {
    width: 8rem; 
    height: 8rem; 
    background-image: url("https://www.freepnglogos.com/uploads/google-logo-png/google-logo-icon-png-transparent-background-osteopathy-16.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    border: gold 2px solid; 
    cursor: pointer; 
    border-radius:5%;
  }

  .googleImage:hover {
    opacity: 0.8; /* Reduce opacity on hover to indicate interactivity */
  }

  @font-face {
    font-family: 'TinTin'; 
    src: url('./public/TINTIN.ttf') format('truetype');
  }
  .firstText {
    color: black;
  }

  .secondText {
    color: white;
    font-family: 'Roboto', 'Droid Sans', 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 2.2rem;
  }
  

  .cocktail-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #c82524; /* Red color for danger */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 15px;
  }
  
  .cocktail-button:hover {
    background-color: #8c1f1e; /* Darker red on hover */
  }


  
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #faf5e1; 
  color: #fff;
  padding: 5px; /* Add padding to the banner */
  max-width: 100%;
  font-size:small
}

.titleImage-container {
  flex: 1; /* Allow the image container to expand and fill the available space */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.titleImage-container img {
  max-height: 50px; /* Set a maximum height for the image */
  /* Add any other styling you want for the image */

}

.daddy {
  position: relative;
  height: 100vh;
}
.bottomImage {
  max-height: 100px;
  position: absolute;
  bottom : 17%;
  left: 50%; /* Optionally, center the image horizontally */
  transform: translateX(-50%);

}

.home-button, .logout-button {
  background-color: #c82524;
  color: #fff;
  padding: 5px 10px; /* Adjust the padding for the buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover, .logout-button:hover {
  background-color: #8c1f1e;
}

.breakdown-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #fff;

}

.theTable{
  width: 100%;
}

.stockNameColumn1 {
  flex: 1;
  text-align: left;
  max-width: 32%;
  font-size: .7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stockNameColumn2 {
  flex: 2;
  text-align: left;
  max-width: 23%;
  font-size: .7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stockNameColumn3 {
  flex: 3;
  text-align: left;
  max-width: 19%;
  font-size: .7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stockNameColumn4 {
  flex: 4;
  text-align: left;
  max-width: 13%;
  font-size: .7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stockNameColumn5 {
  flex: 5;
  text-align: left;
  max-width: 13%;
  font-size: .7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.theseButtons {
  background-color: #071b36;
  color: white;
  padding: 5px;
  margin: 10px;
}

.theseButtons1 {
  background-color: #071b36;
  color: white;
  padding: 5px;
  margin: 10px;
  width: 100px;
}

.tempHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.tempInput {
  width: 50%;
}

.breakdownButton {
  background-color : #165b68;
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 3%;
  max-width: 65px;
  min-width: 65px;
 
}

.summaryHolder {
  background-color : #e3e9de;
  color: #721517;
  margin: 10px;
  font: bold;
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 30px;
  border-radius: 5%;
}

.totalColumn1{
  background-color : #e3e9de;
  color: #165b68;
  margin: 10px;
  padding: 5px;
  font-size: 1.2rem;
  margin-left: 30px;
}  

.totalColumn2{
 background-color : #e3e9de;
  color: #165b68;
  margin: 10px;
  padding: 5px;
  font-size: 1.2rem;
  margin-right: 30px;
}


.summaryHolder1{
  background-color: #721517;
  color: white;
  margin: 10px;
  font: bold;
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 30px;
  border-radius: 5%;
}

.thisForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.textForPhone {
  font-family: 'Roboto', 'Droid Sans', 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.companyLogo {
  width: 50px;
  border-radius: 50%;
}
